#container{
    width:100%;
    display: grid;
  
    grid-template-columns: repeat(4,1fr);
    grid-gap:30px;
}
#container > div{
   
    height:400px;
    margin:auto;
    border-radius:10px;
    border:1px solid red;
}
img{
    width:100%;
    height:80%;
    border-radius:10px;
}
#menu{
    height:50px;
    width:200px;

}